.row {
  .group;
  margin-left: -16px;
  margin-right: -16px;
}

.col {
  padding-left: 16px;
  padding-right: 16px;
  float: left;
}

.col-9 {
  &:extend(.col);
  width: 75%;
}

.col-8 {
  &:extend(.col);
  width: 200% / 3;
}

.col-6 {
  &:extend(.col);
  width: 50%;
}

.col-4 {
  &:extend(.col);
  width: 100% / 3;
}

.col-3 {
  &:extend(.col);
  width: 25%;
}

.col-2 {
  &:extend(.col);
  width: 100% / 6;
}

.space-bottom-1 {
  margin-bottom: 16px;
}

.space-bottom-2 {
  margin-bottom: 32px;
}

.space-right-1 {
  margin-right: 16px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
